*{
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }
        .navbar-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 125px;
            background-color: white;
        }
        .navbar-container a[href="#name"]{
            font-weight: 600;
            font-size: 24px;
            color: #0a0a0a;
            text-decoration: none;
        }
        .navbar a{
            text-decoration: none;
            color: #0a0a0a;
            padding: 0 15px;
            font-weight: 500;
        }
        .navbar a:first-child{
            background-color: #245fff;
            color: white;
            padding: 8px 12px;
            border-radius: 8px;
        }
        .navbar a:hover{
            color: blue;
            background-color: rgb(239 246 255);
            padding: 8px 12px;
            border-radius: 8px;
            margin: 0 3px;
        }
        #home-section{
            background-color: #eff6ff;
            background-image: linear-gradient(to bottom right, #eff6ff, white, #eff6ff);
            height: 600px;
        }
        #home{
            padding: 100px 150px 0;
            display: flex;
            gap: 55px;
        }
        .image{
            width: 250px;
        }
        .image img{
            border-radius: 50%;
            width: 245px;
            height: 250px;
            border: 4px solid #bee3f8;
            margin: 21px 0 0 0;
        }
        .degree{
            background-color: #245fff;
            color: white;
            border-radius: 50px;
            padding: 8px;
            margin-left: 125px;
            margin-top: -40px;
            width: 125px;
            position: relative;
            text-align: center;
        }
        #stream{
            border-radius: 50px;
            background-color: #dbeafe;
            color: #1447e6;
            display: inline;
            padding: 8px 16px;
        }
        .detail-container{
            width: 860px;
        }
        #myname{
            margin-top: 20px;
            font-size: 60px;
            font-weight: normal;
        }
        #aboutme{
            margin-top: 10px;
            font-size: 18px;
        }
        #aboutaim{
            font-size: 18px;
            margin-top: 20px;
        }
        .links{
            margin-top: 30px;
        }
        .links button{
            font-size: 1rem;
            padding: 16px;
            margin-right: 12px;
            border-radius: 8px;
        }
        .link{
            margin-right: 10px;
        }
        #btn1{
            border: none;
            background-color: #245fff;
        }
        #btn1 a{
            color: white;
        }
        #btn1:hover{
            background-color: #144eee;
        }
        .btn2{
            background-color: white;
            border: 2px solid rgb(209, 209, 209);
            color: rgb(46, 46, 46);
        }
        .btn2:hover{
            border: 2px solid #245fff;
        }
        .btn2 a{
            color: rgb(46, 46, 46);
            padding: 18px 6px;
        }
        .btn2 a:hover{
            color: #245fff;
        }
        #place{
            text-align: center;
            margin-top: 60px;
            color: rgb(84, 84, 84);
        }
        #about{
            margin: 0 250px;
        }
        .heading{
            font-weight: normal;
            font-size: 2rem;
            text-align: center;
        }
        .headline{
            width: 75px;
            height: 2.5px;
            background-color: #245fff;
            border: 1px solid #245fff;
            margin: auto;
        }
        .stmt{
            text-align: center;
            color: rgb(84, 84, 84);
            margin-top: 20px;
            margin-bottom: 50px;
        }
        .intro{
            margin-top: 25px;
            color: rgb(84, 84, 84);
        }
        .intro:first-of-type{
            margin-top: 50px;
        }
        .intro span{
            color: #245fff;
        }
        .all{
            padding: 75px 0;
        }
        .common{
            background-image: linear-gradient(to bottom right, #eff6ff, white);
        }
        .small-card{
            width: 275px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 18px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            padding: 32px;
        }
        .small-card:hover{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 20px -3px, rgba(0, 0, 0, 0.05) 0px 10px 8px -2px;
            transition: .2s ease-in-out;
        }
        .cards{
            display: flex;
            margin: 15px 0;
            gap: 25px;
            justify-content: center;
        }
        .card-top{
            display: flex;
        }
        .icon{
            background-color: #dbeafe;
            color: #1447e6;
            padding: 8px 14px;
            height: 35px;
            font-size: 1.4rem;
            border-radius: 10px;
            align-content: center;
        }
        .card-content{
            margin-left: 15px;
            align-content: center;
        }
        .card-heading{
            font-size: 1.2rem;
        }
        .card-body{
            font-size: 0.75rem;
            color: #245fff;
        }
        .card-footer{
            font-size: 0.9rem;
            margin-top: 20px;
            color: rgb(84, 84, 84);
        }
        h2{
            font-weight: normal;
            text-align: center;
        }
        #projects{
            padding: 75px 0;
        }
        .card{
            width: 450px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 18px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            margin: 8px 2px;
            padding: 32px;
        }
        .card:hover{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 15px -3px, rgba(0, 0, 0, 0.05) 0px 10px 6px -2px;
            transition: .2s ease-in-out;
        }
        .list{
            margin-top: 15px;
        }
        .list span{
            border-radius: 25px;
            padding: 2px 10px;
            font-size: 0.8rem;
        }
        .c1 span{
            color: #1447e6;
            background-color: #ecf3fd;
        }
        #c2 span{
            color: green;
            background-color: rgb(224, 247, 224);
        }
        #c3 span{
            color: purple;
            background-color: rgb(249, 235, 249);
        }
        #c4 span{
            color: rgb(255, 77, 0);
            background-color: #fff3de;
        }
        #icon1{
            background-color: #dbeafe;
            color: #1447e6;
            padding: 8px 14px;
            font-size: 1.4rem;
            border-radius: 10px;
        }
        #icon2{
            color: green;
            background-color: rgb(224, 247, 224);
            padding: 8px 14px;
            font-size: 1.4rem;
            border-radius: 10px;
        }
        #icon3{
            color: purple;
            background-color: rgb(249, 235, 249);
            padding: 8px 14px;
            font-size: 1.4rem;
            border-radius: 10px;
        }
        #icon4{
            color: rgb(255, 77, 0);
            background-color: #fff3de;
            padding: 8px 14px;
            font-size: 1.4rem;
            border-radius: 10px;
        }
        .lstmt{
            text-align: center;
            color: rgb(84, 84, 84);
            margin-top: 30px;
        }
        .big-card{
            width: 500px;
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 18px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            margin: 8px 2px;
            padding: 32px;
        }
        .big-card:hover{
            border: 1px solid #245fff;
            transition: .2s ease-in-out;
        }
        .duration{
            margin: 20px 0;
        }
        .duration p{
            color: rgb(84, 84, 84);
            font-size: 0.85rem;
        }
        .content{
            color: rgb(60, 60, 60);
        }
        .vision-small-card{
            display: flex;
        }
        .card-stmt{
            color: rgb(84, 84, 84);
            font-size: 0.85rem;
            margin-top: 5px;
        }
        .vision-info-card{
            background-color: #245fff;
            color: white;
            padding: 50px 25px;
            margin: 0 200px;
            display: block;
            border-radius: 18px;
        }
        .vision-inspiration{
            display: flex;

        }
        .vision-info-card .card-heading{
            text-align: center;
            margin: 10px 0 20px;
        }
        .why-vision{
            background-color: #e9f6fc;
            margin: 0 200px;
            border-radius: 18px;
            padding: 40px 25px;
            border-left: 5px solid #1447e6;
            font-size: 1.1rem;
        }
        .vision-content{
            margin-bottom: 10px;
        }
        .vision-content span{
            color: #1447e6;
            font-weight: bold;
        }
        .card1{
            border: 1px solid rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            padding: 10px;
        }
        .card-heading1{
            font-size: 1.1rem;
        }
        .card-body1{
            font-size: 0.9rem;
            color: #245fff;
        }
        .card-grid{
            display: grid;
            margin: 15px 0;
            gap: 15px;
        }
        .details{
            display: grid;
            grid-template-columns: 6fr 6fr;
            gap: 50px;
            justify-content: center;
            margin: 0 225px;
        }
        .send-form label{
            display: block;
            margin-top: 25px;
        }
        .send-form input{
            padding: 8px;
            display: block;
            width: 95%;
            border-radius: 10px;
            margin-bottom: 20px;
            border: 1px solid rgb(161, 161, 161);
        }
        .send-form textarea{
            padding: 8px;
            display: block;
            width: 95%;
            border-radius: 10px;
            margin-bottom: 20px;
            height: 120px;
            border: 1px solid rgb(161, 161, 161);
        }
        button[type="submit"]{
            padding: 12px 10px;
            border: none;
            background-color: #1447e6;
            color: white;
            width: 100%;
            border-radius: 10px;
        }
        button[type="submit"]:hover{
            background-color: #0a3cd1;
        }
        .talk{
            margin: 20px 0 10px;
        }
        .talk + p{
            margin-bottom: 20px;
        }
        .footer-line{
            border: 0.5px solid rgb(177, 177, 177);
            margin: 0 150px 50px;
        }
        .lastsec-stmt{
            color: rgb(84, 84, 84);
        }
        .copyright{
            color: rgb(125, 125, 125);
            margin-top: 10px;
        }
        .last-div{
            text-align: center;
            margin-bottom: 50px;
        }
        a{
            text-decoration: none;
        }